.form-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin-right: 15px;
    margin-left: 15px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.result-message {
  animation: fadeIn 0.5s ease-in-out;
}


.c-left {
    text-align: center !important;
    padding-top: 25px;
    color: white !important;
}

.c-right {
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right > form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.c-right .user {
    width: 24rem;
    height: 3rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid #40008a;
    border-radius: 8px;
    font-size: 19px;
    color: white   
}

.c-right .user:hover {
    box-shadow: 0 0 9px #7500fa;
}
.yellow{
  color: rgb(34, 142, 250);
}

input {
    background-color: var(--purple)
}

textarea {
    height: 5rem!important;
    background-color: var(--purple)
}

.done {
    font-size: 19px;
    color: green;
}

.not-done {
    font-size: 19px;
    color: red;
}

@media screen and (max-width: 480px) {
    .form-container {
        padding: 0;
        flex-direction: column;
        gap: 5rem;
        height: 40rem;
    }
    .c-right .user {
        width: 16rem;
    }
}
