@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* * {
  font-family: ;
} */
.hero {
  height: 30vh; /* Adjust height as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Add opacity to overlay */
}

.hero-content {
  max-width: 800px;

  margin: 2px;
  color: white; /* Set text color to white */
}

.hero-content h1,
.hero-content p {
  color: white;
  margin: 2px; /* Set text color to white */
}

.hero-container {
  position: relative;
}

.hero {
  position: relative;

  height: 60vh; /* Adjust height as needed */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Add opacity to overlay */
}

.hero-content {
  position: relative;
  z-index: 1;
}

h1 {
  margin: 0;
}
p {
  padding-bottom: 8px;
}
.apple-button {
  background-color: transparent;

  backdrop-filter: blur(40px);

  color: #ffffff;
  border: #ffffff;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease;
  outline: none;
}

.apple-button:hover {
  color: #007bff; /* Blue color */
  border-color: #007bff;
}
