body {
  font-family: Arial, sans-serif;
  text-align: left;
  background-color: #1e1e1e; /* Dark background */
  color: #eee; /* Light text color */
  margin: 0;
  padding-left: 30px;
  margin-left: -30px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.15); /* Glassmorphism background */
  backdrop-filter: blur(10px); /* Glassmorphism blur effect */
  padding: 20px;
  margin: 20px;
  margin-top: 50px;
  border-radius: 10px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Darker shadow */
  max-width: 500px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

form:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7); /* Darker shadow on hover */
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
select {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #555; /* Darker border */
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(
    255,
    255,
    255,
    0.1
  ); /* Glassmorphism input background */
  color: #eee;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
select:focus {
  border-color: #007aff;
  box-shadow: 0 0 5px rgba(0, 122, 255, 0.5); /* Lighter shadow on focus */
  outline: none;
}

input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin: 20px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007aff;
  color: #eee;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #005fa3;
  color: #ddd;
}

input[type="checkbox"] {
  margin-right: 15px;
}

label {
  display: flex;
  align-items: center;
  color: #eee; /* Light label text color */
  font-weight: bold;
  margin-top: 15px;
}

@media screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    padding: 30px;
  }

  .text-container {
    flex: 1;
    padding-right: 30px;
    padding-top: 20px;
    padding-left: 30px;
  }

  .form-container {
    flex: 1;
    padding-right: 10px;
  }
}

option {
  background-color: #333;
}
