* {
  z-index: 3;
}

.navbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  top: 0;
  width: 100%;
  z-index: 100;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  z-index: 1;
  width: 100%;
  max-width: auto;
  position: fixed;
  padding-left: 2.7rem;
  padding-right: 1.6rem;
  padding-top: 0.5rem;
  top: 0;
}

.menu-icon {
  display: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  position: fixed;
  top: 0;
  background-color: black;
  left: 70%;
  text-align: center;
  padding-top: 10px;
}

.nav-item {
  height: 60px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav-links:hover {
  background-color: #575757;
  border-radius: 4px;
  transition: all 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  /* ... existing media query styles ... */
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 1px;
  background-color: black;
  z-index: 1000; /* Ensures the logo is on top of other elements */
}

.logo-image {
  width: 100px; /* Adjust size as needed */
  height: auto; /* Maintains aspect ratio */
  /* position: fixed;
  top: 0;
  left: 40%; */
  display: block;
  padding-top: 10px;
  transition: transform 0.3s ease;
}

.logo-image:hover {
  transform: scale(1.05); /* Slightly enlarges the logo on hover */
}

.app-container {
  position: relative; /* Add this to make absolute positioning of logo work */
  padding-top: 60px; /* Add this to create space for the navbar */
  /* ... existing styles ... */
}
