* {
  position: sticky;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 100vh;
  background: transparent;
  padding: 20px;
}

.flex-1 {
  flex: 1;
  margin: 20px;
  padding: 10px;
}

.bg-gray-800 {
  background: transparent;
  padding: 20px;
  border-radius: 12px;
}

.text-3xl {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
  animation: fadeIn 3s ease-in-out;
}

.text-lg {
  font-size: 1.125rem;
  margin-bottom: 20px;
  text-align: left;
  color: #ccc;
  animation: fadeIn 2s ease-in-out;
}

.w-full {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  margin-bottom: 40px;
  margin-left: 30px;
  animation: fadeIn 2s ease-in-out, slideInRight 1s ease-in-out; /* Added slideInRight animation */
  transition: opacity 0.5s ease, transform 1s ease; /* Added transform transition */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
