.flex {
  display: flex;
  justify-content: center;
  align-items: left;
  height: 100vh;
  background: transparent;
  padding: 20px;
}

.flex-1 {
  flex: 1;
  margin: 20px;
  padding: 10px;
}

.bg-gray-800 {
  background: transparent;
  padding: 20px;
  border-radius: 2xl;
}

.text-3xl {
  font-size: 75px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
  animation: fadeIn 3s ease-in-out;
}

.text-lg {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: left;
  color: #ccc;
  animation: fadeIn 2s ease-in-out;
}

.w-full {
  width: 70%;
  height: 100%;
  object-fit: cover;
  border-radius: 2xl;
  margin-bottom: 40px;
  margin-left: 30px;
  animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
