.about-us-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: clamp(2rem, 5vw, 50px); /* Adjust as needed */
  max-width: 1200px;
  text-align: center;
  padding: clamp(1rem, 3vw, 20px); /* Adjust as needed */
  box-sizing: border-box;
  background-color: #ffffff;
}

.about-us-content {
  flex: 1;
  max-width: clamp(300px, 50%, 600px); /* Adjust as needed */
  margin-right: clamp(1rem, 5%, 50px); /* Adjust as needed */
  margin-bottom: 5px;
}

.about-us-title {
  font-size: clamp(2rem, 5vw, 3rem); /* Adjust as needed */
  color: #000000;
  font-weight: 600px;
  padding: clamp(1rem, 3vw, 30px); /* Adjust as needed */
  text-align: center;
  margin-bottom: clamp(1rem, 3vw, 20px); /* Adjust as needed */
  font-weight: bold;
}

.about-us-text {
  font-size: clamp(0.9rem, 2vw, 1.1rem); /* Adjust as needed */
  color: #000000;
  margin-bottom: clamp(1rem, 2vw, 20px); /* Adjust as needed */
  padding: clamp(0.5rem, 1vw, 10px); /* Adjust as needed */
  line-height: 1.5;
}

.about-us-link {
  font-size: clamp(0.9rem, 2vw, 1.1rem); /* Adjust as needed */
  color: #007bff;
  text-decoration: none;
  margin-right: clamp(0.5rem, 1.5vw, 20px); /* Adjust as needed */
  transition: all 0.3s ease-in-out;
}

.about-us-link:hover {
  color: #0056b3;
}

.about-us-button {
  font-size: clamp(0.9rem, 2vw, 1.1rem); /* Adjust as needed */
  margin-top: clamp(1rem, 3vw, 20px); /* Adjust as needed */
  border-radius: 5px;
  padding: clamp(0.5rem, 1vw, 10px) clamp(1rem, 2vw, 20px); /* Adjust as needed */
  border: none;
  background-color: #007bff;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
